*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%; /*tells elements that they can never be bigger than their parents
    */
    /* border: 1px solid limegreen; */
}

/*General Styles*/ 
html{
    font-size: 62.5%;
}
body{
    font-size: 1.8rem;
    font-family: 'Lato', sans-serif;
    line-height:2;
    color: #4f4f4f;
}
button, a{
    font-family: 'Lato', sans-serif;
}
/*beginning of button animation*/
button{
    background: #BB8FCE;
    color: #fff;
    background: linear-gradient(0deg, white 0%, #C39BD3 100%);
    font-size:1.8rem;
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    transition: all 0.3s ease;
    margin: 4% 0;
}
span.btn{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
button:before, button:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #66357b;
  transition: all 0.3s ease;
}
button:before {
    height: 0%;
    width: 2px;
  }
button:after {
    width: 0%;
    height: 2px;
  }
 button:hover{
    background: #fff;       /*i changed this to white instead of transparent so we could see the footer when I hover over the button*/
    box-shadow: none;
  }
button:hover:before {
    height: 100%;
  }
button:hover:after {
    width: 100%;
  }
button span.btn:hover{
    color: #4f4f4f;
}
button span.btn:hover{
    color: rgb(124, 218, 212);
 }
button span.btn:before, button span.btn:after {
   position: absolute;
   content: "";
   left: 0;
   bottom: 0;
   background: rgb(66, 224, 216);
   transition: all 0.3s ease;
 }
button span.btn:before {
   width: 2px;
   height: 0%;
 }
button span.btn:after {
   width: 0%;
   height: 2px;
 }
 button span.btn:hover:before {
   height: 100%;
 }
button span.btn:hover:after {
   width: 100%;
 }
/*end of button animation*/
 
a{
    text-decoration: none;
    color: #4f4f4f;
}
a:hover{
   color: rgb(66, 224, 216);
}
h1,h2,h3{
    font-family: 'Lustria', serif;
    letter-spacing: 3px;
    text-align: center;
}
span{   /* to change font of your name inline */
    font-family: 'Abril Fatface', cursive;
    color: #512E5F;
}
h1 span{
    font-size:6rem;
}
h2{
    font-size:3rem;
}
section{
    padding:4% 0;
}
.box{
    border: 2px solid rgb(66, 224, 216);
}


/*header section styles*/
nav.main{
    display:flex;
    justify-content: space-between;
}
.links{
    width:50%;
    display:flex;
    justify-content: space-evenly;
    align-items:center; /*centers things vertically*/
}

/*top section styles*/
.top{
    height: 70vh;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}

/*about me section styles*/
#about{
    display:flex;
    justify-content: space-around;
    height: 95vh;
}
.left{
    width:40%;
    display:flex; 
    justify-content: flex-end;
    align-items:flex-start;
}
.left img{
    width: 80%;
    /* display:flex;  --can do either this or above
    justify-content: flex-end; */
}
.right{
    width:58%;
    display:flex;
    justify-content:center;
    align-items: flex-end;
}
.right .box{
    width: 80%;
    padding:4%;
}

/*projects section styles*/
.projects{
    text-align: center;
}
.container{
  display:flex;
  justify-content: space-around;  
}
.container .box{
    width: 25%;
}

/*footer section styles*/
footer{
    background-color: #C39BD3;
    padding: 4% 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div{
    width:50%;
    text-align: center;
}
footer a i{          
   /* color: #fff;  didn't want to make it white */
   font-size: 2rem;
}
.social{
    display: flex;
    justify-content:space-between;
}